class Adder {
  /**
   * Adds two integer values and returns the result.
   * @param a the first integer value to be added
   * @param b the second integer value to be added
   * @return the sum of the two integer values
   */
  public static int add(int a, int b) {
    return a + b;
  }
}